{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h4 class="my-3">Unsubscribed</h4>
                <p class="my-3">You have been successfully unsubscribed from our newsletter. We're sorry to see you go.</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Return to Home</a>
            </div>
        </div>
    </div>
{% endblock %}