{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="hero">
    <div class="herotext">
        <div class="hero-text-container">
        </div>
        <div class="hero-text">
            <div class="hero-text1">
                <div class="find-your-feet">find YOUR feet and shop now</div>
                <div class="explore-our-sneaker">Explore our sneaker HUB</div>
            </div>
            <div class="shop-now-button">
                <div class="shop-now-button-child">
                </div>
                <div class="shop-now">SHOP NOW</div>
            </div>
            <div class="shop-now-button">
                <div class="new-in-button-child">
                </div>
                <div class="shop-now">NEW IN</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}