/* General styles */

html {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    height: calc(100vh - 164px);
    color: white;
    margin: 0;
    line-height: normal;
    background-color: #ffffff ;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.img-crop {
    width: 400px;
    height: 400px;
}

.bg-black {
    background-color: black !important;
}
  
.link-unstyled {

    &,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        font-style: inherit;
        color: inherit;
        background-color: transparent;
        font-size: inherit;
        text-decoration: none;
        font-variant: inherit;
        font-weight: inherit;
        line-height: inherit;
        font-family: inherit;
        border-radius: inherit;
        border: inherit;
        outline: inherit;
        box-shadow: inherit;
        padding: inherit;
        vertical-align: inherit;
    }
}

/* :root */

:root {
    /* fonts */
    --font-outfit: Outfit;
    --font-bebas-neue: 'Bebas Neue';
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-xl: 20px;
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
}

/* from Bulma (CI boutique ado) */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

/* Bootstrap Overrides */

/* Buttons */

.global-buttons {
    border-radius: 0px;
    box-shadow: 4px 4px rgba(43,48,58,0.75);
    border-color: rgba(0,0,0,0.75);
    border-right-style: solid;
    transition: all .5s ease;
}

#shop-now-button:hover {
    color: #ffffff;
    background-color: #2B303A;
    border-color: rgba(255,255,255,0.75);
}
  
 #shop-now-button {
    background-color: #ffbebe;
}
  
#new-in-button:hover {
    background-color: #2b303a;
    color: white;
    border-color: rgba(255,255,255,0.75);
}
  
#new-in-button {
    background-color: white;
}

#Email-Button {
    background-color: #ffbebe;
}

#Email-Button:hover {
    background-color: #2b303a;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #ffffff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* Dropdowns */

.dropdown-styles {
    background: rgb(255,190,190);
    border-style: solid;
    font-family: Outfit, sans-serif;
    border-radius: 0;
    box-shadow: 4px 4px rgba(43, 48, 58, 0.75);
    border-color: rgba(0,0,0,0.75);
    border-right-color: rgba(0,0,0,0.75);
}

.dropdown-styles > a:hover {
    background-image: none;
    background-color: #36454f;
}

.dropdown > .dropdown-toggle:active {
      pointer-events: none;
  }

.dropdown-width {
    width: 650px;
}


/* Cards */

.card-style {
    width: 18rem;
}

.card-text {
    color: black;
}
  
/* Products */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

/* Media Queries */

/* XL Devices */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* L Devices */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .nav-dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .dropdown-menu {
        display: none;
    }
}


/* M Devices */
@media (max-width: 991px) {
    .dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
        display: none;
    }
    .dropdown-menu.show {
        display: block;
    }
}

/* SM Devices */
@media (max-width: 768px) {
    .dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
    }
}

/* XS Devices */
@media (max-width: 600px) {
    .dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
    }

    .home-title {
        text-align: center;
        font-size: 25px;
    }
}

/* Top Padding */
@media (max-width: 991px) {
    .header-container {
        padding-top: 164px;
    }

    .body {
        height: calc(100vh - 164px);
    }
}