/* General styles */

html {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    height: calc(100vh - 164px);
    color: white;
    margin: 0;
    line-height: normal;
    background-color: #ffffff ;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.img-crop {
    width: 400px;
    height: 400px;
}

.bg-black {
    background-color: black !important;
}
  
.link-unstyled {

    &,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
        font-style: inherit;
        color: inherit;
        background-color: transparent;
        font-size: inherit;
        text-decoration: none;
        font-variant: inherit;
        font-weight: inherit;
        line-height: inherit;
        font-family: inherit;
        border-radius: inherit;
        border: inherit;
        outline: inherit;
        box-shadow: inherit;
        padding: inherit;
        vertical-align: inherit;
    }
}

/* :root */

:root {
    /* fonts */
    --font-outfit: Outfit;
    --font-bebas-neue: 'Bebas Neue';
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-xl: 20px;
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
}

/* from Bulma (CI boutique ado) */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #181818 !important;
}

.text-white {
    color: white !important;
}



/* Bootstrap Overrides */

/* Buttons */

.global-buttons {
    border-radius: 0px;
    box-shadow: 4px 4px rgba(43,48,58,0.75);
    border-color: rgba(0,0,0,0.75);
    border-right-style: solid;
    transition: all .5s ease;
}

#shop-now-button:hover {
    color: #ffffff;
    background-color: #2B303A;
    border-color: rgba(255,255,255,0.75);
}
  
 #shop-now-button {
    background-color: #ffbebe;
}
  
#new-in-button:hover {
    background-color: #2b303a;
    color: white;
    border-color: rgba(255,255,255,0.75);
}
  
#new-in-button {
    background-color: white;
}

#Email-Button {
    background-color: #ffbebe;
}

#Email-Button:hover {
    background-color: #2b303a;
    color: white !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #ffffff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* Dropdowns */

.dropdown-styles {
    background: rgb(255,190,190);
    border-style: solid;
    font-family: Outfit, sans-serif;
    border-radius: 0;
    box-shadow: 4px 4px rgba(43, 48, 58, 0.75);
    border-color: rgba(0,0,0,0.75);
    border-right-color: rgba(0,0,0,0.75);
}

.dropdown-styles > a:hover {
    background-image: none;
    background-color: #36454f;
}

.dropdown > .dropdown-toggle:active {
      pointer-events: none;
  }

.dropdown-width {
    width: 650px;
}


/* Cards */

.card-style {
    width: 18rem;
}

.card-text {
    color: black;
}
  
/* Products */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

/* Toasts */

/* Toast CSS from CodeInstitute follow along project */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* colours from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {    
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Media Queries */

/* XL Devices */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* L Devices */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .nav-dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .dropdown-menu {
        display: none;
    }
}


/* M Devices */
@media (max-width: 991px) {
    .dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
        display: none;
    }
    .dropdown-menu.show {
        display: block;
    }
}

/* SM Devices */
@media (max-width: 768px) {
    .dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
    }
}

/* XS Devices */
@media (max-width: 600px) {
    .dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
    }

    .home-title {
        text-align: center;
        font-size: 25px;
    }
}

/* Top Padding */
@media (max-width: 991px) {
    .header-container {
        padding-top: 164px;
    }

    .body {
        height: calc(100vh - 164px);
    }
}