<div class="collapse navbar-collapse pe-3" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- New Drops -->
        <li class="nav-item dropdown nav-dropdown position-static">
            <a href="#" class="text-light font-weight-bold nav-link mr-5 dropdown-click" id="new-in-link" data-bs-display="static" 
                aria-haspopup="true" aria-expanded="false">
                New In
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-2 border-0 rounded-0" aria-labelledby="new-in-link">
                <li class="dropdown-item text-dark">All New In</li>
                <li class="dropdown-item text-dark">Mens</li>
                <li class="dropdown-item text-dark">Womens</li>
            </ul>
        </li>

        <!-- Sale -->
        <li class="nav-item dropdown nav-dropdown position-static">
            <a href="#" class="text-danger font-weight-bold nav-link mr-5 dropdown-click" id="sale-link"  data-bs-display="static"
                aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
            <div class="dropdown-menu dropdown-menu-end p-2 border-0 rounded-0" aria-labelledby="sale-link">
                <div class="col mb-3">
                    <a href="#" class="dropdown-item text-dark text-uppercase">Shop all Sale</a>
                </div>
                <hr class="dropdown-divider">
                <div class="row row-cols-sm-6">
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Brand</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 1 Sale</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 2 Sale</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 3 Sale</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 4 Sale</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Size</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-grid">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">3</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">4</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">5</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">6</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">7</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">8</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">9</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">10</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">11</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">12</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <!-- Men's -->
        <li class="nav-item dropdown nav-dropdown position-static">
            <a href="#" class="text-light font-weight-bold nav-link mr-5 dropdown-click" id="mens-link"  data-bs-display="static"
                aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu dropdown-menu-end p-2 border-0 rounded-0" aria-labelledby="mens-link">
                <div class="col mb-3">
                    <a href="#" class="dropdown-item text-dark text-uppercase">Shop all Mens</a>
                </div>
                <hr class="dropdown-divider">
                <div class="row row-cols-sm-6">
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Category</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Trainers</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Casual Shoes</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Basketball Trainers</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Best Sellers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Brand</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 1</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 2</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 3</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 4</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 5</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Collection</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Collection 1</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Collection 2</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Collection 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <!-- Women's -->
        <li class="nav-item dropdown nav-dropdown position-static">
            <a href="#" class="text-light font-weight-bold nav-link mr-5 dropdown-click" id="womens-link" data-bs-display="static"
                aria-haspopup="true" aria-expanded="false">
                Womens
            </a>
            <div class="dropdown-menu dropdown-menu-end p-2 border-0 rounded-0" aria-labelledby="womens-link">
                <div class="col mb-3">
                    <a href="#" class="dropdown-item text-dark text-uppercase">Shop all Womens</a>
                </div>
                <hr class="dropdown-divider">
                <div class="row row-cols-sm-6">
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Category</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Trainers</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Casual Shoes</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Basketball Trainers</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Best Sellers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Brand</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 1</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 2</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 3</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 4</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 5</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Collection</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Collection 1</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Collection 2</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Collection 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <!-- Brands -->
        <li class="nav-item dropdown nav-dropdown position-static">
            <a href="#" class="text-light font-weight-bold nav-link mr-5 dropdown-click" id="brands-link"  data-bs-display="static"
                aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu dropdown-menu-end p-0 border-0 rounded-0" aria-labelledby="brands-link">
                <div class="col pt-2 mb-3">
                    <a href="#" class="dropdown-item text-dark text-uppercase">Shop all Brands</a>
                </div>
                <hr class="dropdown-divider">
                <div class="row row-cols-sm-6">
                    <div class="col col-sm-5 mb-3 px-lg-4">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 1</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 2</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 3</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 4</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 5</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3 px-lg-4">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 5</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 7</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 8</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 9</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 10</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3 px-lg-4">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 11</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 12</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 13</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 14</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="dropdown-item text-dark nav-link">Brand 15</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        
    </ul>
</div>