<div class="collapse navbar-collapse pe-3" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto" id="navbar-nav">

        <!-- All -->
        <li class="nav-item dropdown nav-dropdown position-static">
            <a href="#" class="text-black font-weight-bold nav-link mr-5 dropdown-click text-uppercase" id="all-link" data-bs-display="static"
                aria-haspopup="true" aria-expanded="false">
                All
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-2 border-0 rounded-0" aria-labelledby="all-link">
                <li class="nav-item mb-2">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-dark nav-link">By Price</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item text-dark nav-link">By Brand</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'products' %}?sort=category&direction=desc" class="dropdown-item text-dark nav-link">By Category</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'products' %}" class="dropdown-item text-dark nav-link">All Products</a>
                </li>
            </ul>
        </li>

        <!-- New Drops -->
        <li class="nav-item position-static">
            <a href="{% url 'products' %}?is_new=true" class="text-black font-weight-bold nav-link mr-5 dropdown-click text-uppercase" id="newest-link" 
                data-bs-display="static" aria-haspopup="true" aria-expanded="false">
                Newest Releases
            </a>
        </li>

        <!-- Sale -->
        <li class="nav-item position-static">
            <a href="{% url 'products' %}?is_sale=true" class="text-danger font-weight-bold nav-link mr-5 dropdown-click text-uppercase" id="sale-link" 
                data-bs-display="static" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
        </li>

        <!-- Men's -->
        <li class="nav-item dropdown nav-dropdown position-static ">
            <a href="#" class="text-black font-weight-bold nav-link mr-5 dropdown-click text-uppercase" id="mens-link" data-bs-display="static"
                aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu dropdown-menu-end p-2 border-0 rounded-0" aria-labelledby="mens-link">
                <div class="col mb-3">
                    <a href="{% url 'products' %}?category=trainers,premium_trainers,classics,active_trainers&gender=men" class="dropdown-item text-dark text-uppercase">Shop all Mens</a>
                </div>
                <hr class="dropdown-divider">
                <div class="row row-cols-sm-6">
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Category</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?category=trainers&gender=men" class="dropdown-item text-dark nav-link">Trainers</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?category=premium_trainers&gender=men" class="dropdown-item text-dark nav-link">Premium Trainers</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?category=classics&gender=men" class="dropdown-item text-dark nav-link">Classics</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?category=active_trainers&gender=men" class="dropdown-item text-dark nav-link">Active Trainers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Brand</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Nike&gender=men" class="dropdown-item text-dark nav-link">Nike</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Adidas&gender=men" class="dropdown-item text-dark nav-link">Adidas</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=New Balance&gender=men" class="dropdown-item text-dark nav-link">New Balance</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Vans&gender=men" class="dropdown-item text-dark nav-link">Vans</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Puma&gender=men" class="dropdown-item text-dark nav-link">Puma</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?other_brands=true&gender=men" class="dropdown-item text-dark nav-link">Other Brands</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <!-- Women's -->
        <li class="nav-item dropdown nav-dropdown position-static">
            <a href="#" class="text-black font-weight-bold nav-link mr-5 dropdown-click text-uppercase" id="womens-link" data-bs-display="static"
                aria-haspopup="true" aria-expanded="false">
                Womens
            </a>
            <div class="dropdown-menu dropdown-menu-end p-2 border-0 rounded-0" aria-labelledby="womens-link">
                <div class="col mb-3">
                    <a href="{% url 'products' %}?category=trainers,premium_trainers,classics,active_trainers&gender=women" class="dropdown-item text-dark text-uppercase">Shop all Womens</a>
                </div>
                <hr class="dropdown-divider">
                <div class="row row-cols-sm-6">
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Category</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?category=trainers&gender=women" class="dropdown-item text-dark nav-link">Trainers</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?category=premium_trainers&gender=women" class="dropdown-item text-dark nav-link">Premium Trainers</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?category=classics&gender=women" class="dropdown-item text-dark nav-link">Classics</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?category=active_trainers&gender=women" class="dropdown-item text-dark nav-link">Active Trainers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3">
                        <h2 class="dropdown-header text-uppercase">Shop by Brand</h2>
                        <hr class="dropdown-divider">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Nike&gender=women" class="dropdown-item text-dark nav-link">Nike</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Adidas&gender=women" class="dropdown-item text-dark nav-link">Adidas</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=New Balance&gender=women" class="dropdown-item text-dark nav-link">New Balance</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Vans&gender=women" class="dropdown-item text-dark nav-link">Vans</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Puma&gender=women" class="dropdown-item text-dark nav-link">Puma</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?other_brands=true&gender=women" class="dropdown-item text-dark nav-link">Other Brands</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <!-- Brands -->
        <li class="nav-item dropdown nav-dropdown position-static">
            <a href="#" class="text-black font-weight-bold nav-link mr-5 dropdown-click text-uppercase" id="brands-link" data-bs-display="static"
                aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu dropdown-menu-end p-2 border-0 rounded-0" aria-labelledby="brands-link">
                <div class="col pt-2 mb-3">
                    <a href="{% url 'products' %}?filter=all_brands" class="dropdown-item text-dark text-uppercase">Shop all Brands</a>
                </div>
                <hr class="dropdown-divider">
                <div class="row row-cols-sm-6">
                    <div class="col col-sm-5 mb-3 px-lg-4">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Nike" class="dropdown-item text-dark nav-link">Nike</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Adidas" class="dropdown-item text-dark nav-link">Adidas</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=New Balance" class="dropdown-item text-dark nav-link">New Balance</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Vans" class="dropdown-item text-dark nav-link">Vans</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Puma" class="dropdown-item text-dark nav-link">Puma</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-sm-5 mb-3 px-lg-4">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Asics" class="dropdown-item text-dark nav-link">Asics</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Converse" class="dropdown-item text-dark nav-link">Converse</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=On Running" class="dropdown-item text-dark nav-link">On Running</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Reebok" class="dropdown-item text-dark nav-link">Reebok</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="{% url 'products' %}?brand=Hoka One One" class="dropdown-item text-dark nav-link">Hoka One One</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>