<div class="toast custom-toast rounded-0 border-top-0" data-bs-autohide="false">
    <div class="arrow-up arrow-warning"></div>
    <div class="w-100 toast-capper bg-warning"></div>
    <div class="toast-header bg-white text-warning">
        <strong class="mr-auto text-warning">Warning</strong>
        <button type="button" class="ml-2 mb-1 close text-warning" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white text-warning">
        {{ message }}
    </div>
</div>